.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
}
  
.box div {
    width: 100px;
    height: 100px;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.box2 div {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.imageMain {
    border-radius: 8px;
    width: 100%;
    height: 30%;
}

.containerInfo {
    display: flex;
    grid-template-columns: 200px 200px 200px;
    background-color: transparent;
    padding: 20px 20px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.containerCard {
    padding-top: 10%;
    padding-bottom: 10%;
}

.btnCard {
    background-color: transparent;
    padding: 12px;
    border: none;
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    padding-top: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
  
.box3 div {
    width: 100px;
    height: 100px;
}

.box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    padding-top: 5%;
    padding-left: 17%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: transparent;
}
  
.box4 div {
    width: 100%;
    height: 100%;
}

.btnAdd {
    font-size: 16px;
    border-radius: 20%;
    width: 20%;
    height: 50%;
    font-style: normal;
    color: white;
    padding: 8px 25px; 
    background-color: #193A31;
}

.containerBtnAdd {
    display: flex;
    background-color: transparent;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.box5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    padding-top: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: transparent;
}
  
.box5 div {
    width: 100%;
    height: 100%;
}

.box6 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    padding-top: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: beige;
}
  
.box6 div {
    width: 100%;
    height: 200%;
}

.txtOpt {
    font-size: 100000px;
}

.containerOpt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    grid-template-rows: 200px 200px 200px;
    background-color: transparent;
    padding: 10px 10px;
}

.grid-containerI {
    margin-bottom: 0px;
    height: 560px;
    vertical-align: baseline;
    background-color: #252525;
    background-position: 50% 50%;
}

.grid-info {
    margin-top: 50px;
    padding: 20px;
    font-size: 90px;
    color: black;
}