<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Filtrar</title>
</head>
<body>
    <div class="grid-ContainerI">
        <div class="containerOpt">
            <div class="grid-info">
                <label for="queries">Elige una opción</label>
            </div>
        </div>
        <div class="containerOpt">
            <div class="containerOther">
                <div class="card">
                    <a href="filter_recipe.html">
                        <button type="button" class="btnCard">
                            <img style="height: 130px;" class="imageMain" src="../static/images/cardImg.jpg" alt="Italian Trulli">
                            <div class="containerCard">
                                <h4><b>Recetario</b></h4>
                                <p>Filtrar por nombre de la receta ascendente</p>
                            </div>
                        </button> 
                    </a>
                </div>
            </div>
            <div class="containerOther">
                <div class="card">
                    <a href="filter_ing.html">
                        <button type="button" class="btnCard">
                            <img style="height: 130px;" class="imageMain" src="../static/images/cardImg.jpg" alt="Italian Trulli">
                            <div class="containerCard">
                                <h4><b>Recetario</b></h4>
                                <p>Filtrar por ingredientes de la receta</p>
                            </div>
                        </button> 
                    </a>
                    
                </div>
            </div>
            <div class="containerOther">
                <div class="card">
                    <a href="avg_ing.html">
                        <button type="button" class="btnCard">
                            <img style="height: 130px;" class="imageMain" src="../static/images/cardImg.jpg" alt="Italian Trulli">
                            <div class="containerCard">
                                <h4><b>Recetario</b></h4>
                                <p>Autores con pocas recetas</p>
                            </div>
                        </button> 
                    </a>
                </div>
            </div>
        </div>
</body>
</html>