<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Filtrar por Ingredientes</title>
</head>
<body>
    <div class="containerOpt">
        <div class="grid-info">
            <label for="queries">Recetas ordenadas por ingredientes ascendente</label>
        </div>
    </div>
    <div class="containerBtn">
        <div class="">
            <button><a href="{{ url_for('limit10I') }}">Límite de 10</a></button>
            <button><a href="{{ url_for('limit50I') }}">Límite de 50</a></button>
            <button><a href="{{ url_for('filterIng') }}">Mostrar Todos</a></button>
            <button><a href="{{ url_for('home') }}">Inicio</a></button>
        </div>
    </div>
    <table>
        <thead>
            <tr>  
                <th class="txtTittle">Ingredientes</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td class="txtList">{{ recipe.Ingredients }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>