<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetario</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="container">
        <div class="box">
            <img class="imageMain" src="../static/images/menu.png" alt="Italian Trulli">
        </div>
    </div>
    <div class="container">
        <img class="imageMain" src="../static/images/portada.png" alt="Italian Trulli">
    </div>
    <div class="box2">
        <div class="containerInfo">
            <div class="card">
                <a href="bdd_add.html">
                    <button type="button" class="btnCard">
                        <img class="imageMain" src="../static/images/cards.jpg" alt="Italian Trulli">
                        <div class="containerCard">
                            <h4><b>Recetario</b></h4>
                            <p>Agregar recetas</p>
                        </div>
                    </button>
                </a> 
            </div>
        </div>
        <div class="containerInfo">
            <div class="card">
                <a href="bdd_edit_delete.html">
                    <button type="button" class="btnCard">
                        <img class="imageMain" src="../static/images/cards.jpg" alt="Italian Trulli">
                        <div class="containerCard">
                            <h4><b>Recetario</b></h4>
                            <p>Modifica y Elimina recetas</p>
                        </div>
                    </button> 
                </a>
            </div>
        </div>
        <div class="containerInfo">
            <div class="card">
                <a href="">
                    <button type="button" class="btnCard">
                        <img class="imageMain" src="../static/images/cards.jpg" alt="Italian Trulli">
                        <div class="containerCard">
                            <h4><b>Recetario</b></h4>
                            <p>Filtra recetas</p>
                        </div>
                    </button> 
                </a>
                
            </div>
        </div>
        <div class="containerInfo">
            <div class="card">
                <a href="https://charts.mongodb.com/charts-project-0-kjntd/public/dashboards/63e068e4-666b-4705-87a4-5b5c9d89a960">
                    <button type="button" class="btnCard">
                        <img class="imageMain" src="../static/images/cards.jpg" alt="Italian Trulli">
                        <div class="containerCard">
                            <h4><b>Recetario</b></h4>
                            <p>Charts</p>
                        </div>
                    </button>
                </a> 
            </div>
        </div>
    </div>
</body>
</html>